*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body {min-width:650px;}
body {
    background-color: #EADCD8; 
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    overflow-x: hidden;
    min-width:100%;
    display: block;
    
}
.container-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr;
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    max-width: 1600px;
    margin: auto;
}
.Logo{
    display: flex;
    place-content: center;
    height: auto;
    width: auto;
}
.list-container{
    display: flex;
    justify-content:center;
}
.networks{
    display: flex;
    justify-content: right;
    color: black;
    place-self: center right;
    padding-right: 20px;
}
.network > a  img{
    padding-right: 20px;
}
nav {
    place-self: center;
    max-width: 500px;

}
.list-topnav {
    display: flex;
    list-style-type: none;
}
li {
    text-align: center;
    min-width: 200px;

}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
main {
    display: grid;
    grid-column: span 3;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(100px, auto));
    justify-items: center;
}
.main-mint {
    max-height: 1300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    place-content: center;
    grid-column: auto;
    grid-row: span 1;
    min-height: 1000px;
    width: 100%;
}
.connect{
    width: 350px;
    position: absolute;
    display: flex;
}
#mint{
    background-color: #ebb30d;
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    line-height: 30px;
    padding: 30px;
    width: 100%;
    border-radius: 50px;
    box-shadow: 0px 4px 16px rgba(0,0,0,.15);
    border: none;
    margin-top: 150%;
    font-weight: bold;
    
}
#mint:hover{
    background-color: black;
    color: #ebb30d;

}
.announce {
    display: flex;
    background-color: #ebb30d;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 35px;
}
#bg-main-mint{
    display: flex;
    min-height: 720px;
    grid-area : 1 / 1 /1 / 4;
    justify-self: center;
}
.main-learn{
    display: flex;
    background-color: #953256;
    padding-top: 10px;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.content-learn{
    display: flex;
    align-items: center;
    max-width: 1600px;
    min-height: 500px;
}
#text{
    width: 50%;
    margin: 20px;
}
#container-img-main{
    display: flex;
    place-content: center;
    width: 50%;
}
#img-main-learn{
    width: 80%;
    margin: 20px;
}
#text >h3 {
    margin: 10px 0;
}
#test-anim{
    max-width: 1500px;
    width: 100%;
}
.secondary-buttons {
    display: flex;
    background-color: #953256;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 10px;
}
#see-ants{
    
    background-color: #ebb30d;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0px 4px 16px rgba(0,0,0,.15);
    border: none;
    font-weight: bold;
}
#see-ants:hover{
    background-color: black;
    color: #ebb30d;

}
#market{
    
    background-color: rgb(190, 190, 190);
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    padding-top: 7px;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    box-shadow: 0px 4px 16px rgba(0,0,0,.15);
    border: none;
    font-weight: bold;
}
#content-buttons{
    display: flex;
    max-width: 1500px;
    width: 100%;
    justify-content: space-evenly;
}
.main-roadmap{
    display: flex;
    width: 100%;
    background-color: #1F274C;
    justify-content: center;
    height: 1500px;
}
#bg-roadmap{
    display: block;
    min-height: 1120px;
    position: absolute;
}
.content-roadmap{
    position: absolute;
    margin-left: 300px;
    margin-right: 200px;
    max-width: 1200px;
    color: white;
}
.content-roadmap >h3{
    padding-bottom: 50px;
    padding-top: 150px;
}


@media screen and (max-width: 1200px) {
    .content-learn{
       flex-direction: column-reverse;
    }
    #container-img-main{
    margin: 20px;
    }
    #img-main-learn{
    width: 80%;
    min-width: 350px;
    }
    #text{
        width: 50%;
        min-width: 350px;
        margin: 20px 0;
    }
    #text >h3 {
        margin: 10px 0;
        text-align: center;
    }
    .main-mint {
        min-height: 600px;
    }
    .announce {
    font-size: 30px;
    }
    #mint{
    margin-top: 80%;
    }
    #bg-roadmap{
        display: flex;
        margin-left: -500px;
    } 
    .main-roadmap{
        justify-content:left;
    }
    
    .content-roadmap{
        margin-top: 50px;
        margin-left: 200px;
        margin-right: 20px;
    }
    .content-roadmap >h3{
        padding-bottom: 50px;
        padding-top: 150px;
    }
    .container-grid{
        min-width: 100%;
    }
    .list-container{
        display: none;
    }
    .networks{
        display: none;
    }
 }
 @media screen and (max-width: 2100px) and (min-width: 1200px){
    #bg-roadmap{
        display: flex;
        margin-left: -270px;
    } 
    .main-roadmap{
        justify-content:left;
    }
    .content-roadmap{
        margin-left: 550px;
    }

}
